.register__container{
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .form-wrapper{
        background-color: #fff;
        padding: 10px 50px;
        
        border-radius: 1.2rem;      
        display: flex;
        flex-direction: column;
        gap:6px;
        align-items: center;
        
        .logo{
            color: #5d5b8d;
            font-weight: bold;
            font-size:24px;
            font-style: italic;
            font-family: cursive;

            
        }

        .title{
            color: #5d5b8d;
            font-size: 14px;
            font-weight: 500;
        }

        .form{
            display: flex;
            flex-direction: column;
            gap: 10px;

            width: 100%;
            input{
                padding: 10px 15px;
                text-align: center;
                border: none;
                outline: none;
                border-bottom:1px solid #5d5b8d;
                &::placeholder{
                    color: rgba(175,175,175)
                }

            }
            .button{
               background-color: #5d5b8d;
               color: white;
               padding: 10px;
               font-size: 16px;
               outline: none; 
               border: none;
               border-radius: 10px;
               font-weight: bold;
            }




        }

        p{
            color: #5d5b8d;
            font-size: 12px;
            margin-top: 10px;
        }
        label{
            img{
                height: 40px;
            }
            display: flex;
            align-items: center;
            gap: 10px;
            margin: 10px 0;
            cursor: pointer;
            font-size: 12px;
            color: #5d5b8d;
            font-weight: 400;

        }
        

    }


}


.home{
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .container{
        border:1px solid white;
        border-radius: 10px;
        width: 65%;
        height: 80%;
        display: flex;
        overflow: hidden;
        .sidebar{
            flex: 1;
            background-color: #3e3c61;
            border-radius: 10px 0  0 10px ;
            .navbar{
                display: flex;
                align-items: center;
                background-color: #2f2d52;
                height: 50px;
                padding: 10px;
                justify-content: space-between;
                color: #ddddf7;
                .logo{
                    font-weight: bold;
                    font-style: italic;
                    font-family: cursive;
                }
                .user{
                    display: flex;
                    gap: 10px;
                    img{
                        background-color: #ddddf7;
                        height: 24px;
                        width: 24px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                    button{
                        border: none;
                        outline: none;
                        background-color: #5d5b8d;
                        color: #ddddf7;
                        border-radius: 10px;
                        font-size: 10px;
                        font-weight: bold;
                        cursor: pointer;
                    }
                }
            }

            .search{
                border-bottom: 1px solid gray;

                .searchForm{
                    padding: 10px;
                    input{
                        background-color: transparent;
                        border: none;
                        outline: none;
                        color: #ddddf7;
                    }
                }
            }

            .userChat{
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 10px;
                color: #ddddf7;
                cursor: pointer;
                &:hover{
                    background-color: #2f2d52;
                }
                img{
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }



                .userChatInfo{
                    span{
                        font-size: 18px;
                        font-weight: 500;

                    }
                    p{
                        font-size: 14px;
                        color: lightgray;
                    }
                }
            }
            




        }
        .chat{
            flex: 2;
        }
    }
}